body {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto ; /* Resize the background image to cover the entire container */
    background-color: #171730;
}

.header-description {
    color:white;
    margin: 4px auto;
    text-align: center;
    max-width: 600px;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.header-description-if {
    color:violet;
}

.header-title {
    text-align: center;
    font-weight: bold;
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(30deg, #9b07f0, aqua);
    font-family: "Verdana", sans-serif;
}

.header-title::before {
    content: '';
    width: 30px;
    height: 30px;
    display: inline-block;
    background: url(favicon.ico) center 0 no-repeat;
}

.description-main {
    text-align: center;
    color:white;
    margin: 4px auto;
    max-width: 1200px;
}