body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto ;
    background-color: #171730;
}

.if-ico {
    width: 50px;
    margin-right: 7px;
}

.header-title {
    margin-top: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.impossible-description {
    color:white;
    font-size: 18px;
    line-height: 1px;
}

.data-lab-description {
    color:white;
    font-size: 30px;
    line-height: 1px;
}

.list-dash {
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 2%;
    height: 12%;
}

.main-header-title {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: 30px;
}

.description-main {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.right_container {
    border-radius: 10px;
    width: 20%;
    height: 500px;
    right: 2%;
    position: absolute;
    background-color: rgb(133, 133, 230);
}

.right_container h2 {
    color: white;
    margin-left: 5%;
}

.right_container p {
    color: white;
    margin-left: 5%;
}

.dropdown-table-input {
    margin-left: 5%;
    margin-right: 5%;
}

.main-chains-selection {
    margin-bottom: 1px;
    margin-left: 5px;
    color: darkblue;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    font-size: 10px;
}

.left_container {
    width: 70%;
    left: 5%;
    position: absolute;
}

.card_container {
    border-radius: 10px;
    border: 1px solid rgb(156, 84, 224);
    padding: 30px;
    position: relative;
    width: 31vw;
}

.card_container h3 {
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    color: white;
    line-height: 1px;
    margin-bottom: 30px;
}

.card_container h1 {
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    color: white;
    line-height: 20px;
}

.chains_list_kpi{
    color: white;
    font-size: 12px;
    margin-left: 15px;
}

.values_list_kpi{
    color: white;
    font-size: 12px;
    right: 20px;
    position: absolute;
}

.kpi_container {
    width: 50%;
    display: inline-block;
}

.left_container_h1 {
    margin-top: 5%;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    color: white;
}