body {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: auto ; /* Resize the background image to cover the entire container */
    background-color: #171730;
}

.chains-input-main {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: thick double #32a1ce;
}

.dropdown-table-input {
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.main-chains-selection {
    margin-left: 5px;
    color: darkblue;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.aligned {
    display: inline-flex;
    align-items: center;
}

.header-description {
    color:white;
    margin: 4px auto;
    text-align: center;
    max-width: 600px;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.if-ico {
    width: 25px;
    margin-right: 7px;
}

.evm-ico {
    width: 30px;
    margin-right: 7px;
    margin-left: 7px;
}

.nonevm-ico {
    width: 35px;
    margin-right: 7px;
    margin-left: 7px;
}

.header-description-if {
    color:violet;
}

.description-if-and-zb {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(21deg, #69b7eb, #b3dbd3, #f4d6db);
}

.header-title {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Verdana", sans-serif;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(30deg, #9b07f0, aqua);
}

.description-main {
    text-align: center;
    color:white;
    margin: 4px auto;
    max-width: 1200px;
}

.table-output {
    text-align: center;
    color:white;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

.table-name {
    color:white;
    margin: 4px auto;
    text-align: left;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
    margin-left: 10px;
}

.bridge-border {
    border: thick double #32a1ce;
}

.price-input {
    margin-left: 100px;
    color:white;
    font-weight: bold;
    font-family: "Verdana", sans-serif;
}

.price-description {
    margin-left: 50px;
    color:white;
    font-family: "Verdana", sans-serif;
}